body{
    color: black;
}
.table > tbody > tr > *{
    vertical-align: middle;
}

.main-content-wrappper{
    width:100%;
    height: 100%;
}


.add{
    display: inline-block;
    text-align: center;
    line-height: 40px;
    font-family: 'Roboto Slab';
    font-size: 20px;
    border-radius: 5px;
    color: white;
    background-color: #00B000;
    height: 40px;
    width: 140px;
    margin-top: 40px;
    margin-right: 20px;
}
#tombol:hover{
    text-decoration: none;
    background-color: #018f01;
    color: white;
}
/* #tombol{
    color: white;
} */
.delete{
    display: inline-block;
    text-align: center;
    line-height: 40px;
    font-family: 'Roboto Slab';
    font-size: 20px;
    border-radius: 5px;
    color: white;
    background-color: #DC3545;
    height: 40px;
    width: 140px;
}

.search-container{
    float:right;
    padding-right: 50px;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
 }
  
.searchTerm {
    width: 400px;
    border: none;
    border-right: none;
    padding: 5px;
    height: 36spx;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
    background-color: #E2E2E2;
    font-family: 'Roboto Slab';
    font-size: 16px;
}
  
.searchTerm:focus{
    color: #000505;
}
  
.searchButton {
    width: 40px;
    height: 46px;
    border: 1px solid #1A2226;
    background: #1A2226;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}
.tabel-wrap{
    width: auto;
}
.tabel{
    display: inline-block;
    width:300px;
    height: 100px;
    border-bottom:none;
    font-family: 'Roboto Slab';
    margin-top: 20px;
    padding-right: 10px;
}

.tabel-header{
    background-color: #013B64;
    height: 50px;
    width: 100%;
    text-align: center;
    color: white;
    line-height: 50px;
    border: 1px solid black;
}

.tabel-list{
    height: 24px;
    width:100%;
    border: 1px solid black;
    border-top: none;
    color:black;
}

@media screen and (max-width: 600px){
    .main-content h1{
        text-align: left;
    }
    .row{
        text-align: center;
    }
    .pagination{
        margin-left: 60px;
        margin-top: 40px;
    }
    .tabel{
        width: 170px;
    }
    .col-6{
        width: 100%;
    }
    .mt-2{
        padding-bottom: 10px;
    }
    .add{
        float: right;
    }
}