
body{
    background-color: #f8f0fa;
    padding: 0;
    margin: 0;
}
label{
    color: black;
}
.sidebar-wrapper{
    height: 100%;
    display: inline-block;
}

.sidebar-menu{
    position: fixed;
    background-color: #1A2226;
    height: 100%;
    width: 275px;
    margin-top: -75px;
    margin-left: -20px;
    font-family: sans-serif;
    color: #B8C7CE;
    /* transform: translateX(-100%); */
}

.sidebar-menu p{
    padding-left: 20px;
}

.sidebar-nama{
    background-color: #222D32;
    width: 100%;
    height:70px;
    text-align: center;
    font-family: sans-serif;
    color: #B8C7CE;
    padding-top: 50px;
    font-weight: bold;
}

.sidebar-list{
    width: 100%;
    background-color: #222D32;
    height: 50px;
    /* border: 1px solid #B8C7CE; */
    text-align: left;
    color: #B8C7CE;
    padding-top: 15px;
    padding-left: 60px;
}
.sidebar-list:hover{
    background-color: #2d3b42;
}

.sidebar-footer:hover{
    background-color: #2d3b42;
}

.sidebar-footer{
    width: 100%;
    background-color: #222D32;
    height: 50px;
    /* border: 1px solid #B8C7CE; */
    text-align: center;
    color: #B8C7CE;
    padding-top: 15px;
    margin-top: 300px;
}

a {
    text-decoration: none;
    
}
.container{
    padding-left: 250px;
}

.header-wrapper{
    width: 100%;
}

.header{
    width: 100%;
    height: 50px;
    background-color: #013B64;
    margin-left: 8px;
    margin-top: -28px;
    text-align: right;
    color: #E9E9E9;
    font-family: Roboto;
    font-size: 20px;
    padding-top: 20px;
}

.header img{
    position: absolute;
    width: 40px;
    height: 40px;
    margin-left: -50px;
    margin-top: -5px;
}

.main-content{
    height: 100%;
    min-height: 707px;
    margin-right: -8px;
    /* padding-left: 40px; */
}
nav{
    width: 83%;
    left: 17%;
}
.main-content h1{
    font-family: 'Roboto';
}

.main-button-container{
    display: inline-block;
}

.logo-wrap{
    margin-right: 20px;
}

.logo-header img{
   width: 70px;
   height: 30px;
  
}

.logo-sidebar{
    margin-top: -30px;
}

.logo-dashboard{
    font-weight: bold;
    margin-top: 10px;
}

.logo-sidebar img{
   width: 50px;
   height: 50px;
}

div.sticky{
    position: sticky;
    z-index: 1;
    top: 0; /* required */
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
  }
  .nav-item{
    display: none;
  }
@media screen and (max-width:800px) {
    nav{
        width: 100%;
        left: 0%;
    }
    .sidebar-menu {
        display: none;
    }
    .nav-item{
        display: block;
      }
    .container{
        padding-left: 0%;
        margin-top: 0px;
        overflow-x: hidden;

    }
    .card-body{
        padding-left: none;
    }
    
    .main-content{
        height: 100%;
        min-height: 707px;
   
        padding-left: 0px;
    }
   
} 
