.bot-border{
    border-bottom: 2px solid black;
    width: calc(100%-100px);
    padding-left: 120px;
    margin-left: -100px;
}
.add{
    display: inline-block;
    text-align: center;
    line-height: 40px;
    font-family: 'Roboto Slab';
    font-size: 20px;
    border-radius: 5px;
    color: white;
    background-color: #00B000;
    height: 40px;
    width: 140px;
    margin-top: 40px;
    margin-right: 20px;
}
.form-wrapper{
    height:550px;
    background-color: white;
    width: 1250px;
    border: 1px solid black;
    margin-top: 40px;
    border-radius: 5px;
    font-family: 'Roboto Slab';
    font-size: 20px;
}

.form-header{
    background-color: #013B64;
    height: 20px;
    width: 100%;
    color: white;
    border-radius: 4px;
    line-height: 60px;
    font-size: 30px;
}

.form-content{
    margin-top: 30px;
    margin-left: 40px;
}

input{
    width: 250px;
    height: 24px;
    font-size: 24px;
    color: black;
    /* background-color: transparent;
    border: none; */
}

.input-lg{
    width: 1000px;
    height: 100px;
    font-size: 24px;
    color: black;
    /* background-color: transparent;
    border: none; */
}

.input::placeholder{
    color: black;
}

.input-lg::placeholder{
    color: black;
}

[readonly='readonly'] {
    pointer-events: none;
 }

.button-wrapper{
    float: right;
}

.button-edit{
    display: inline-block;
    text-align: center;
    line-height: 40px;
    font-family: 'Roboto Slab';
    font-size: 20px;
    border-radius: 5px;
    color: white;
    background-color: #007BFF;
    height: 40px;
    width: 140px;
    margin-top: 40px;
    margin-right: 20px;
}

/* .btn-outer-wrapper{
    float: left;
} */

.button-tambah{
    display: inline-block;
    text-align: center;
    line-height: 40px;
    font-family: 'Roboto Slab';
    font-size: 20px;
    border-radius: 5px;
    color: white;
    background-color: #00B000;
    height: 40px;
    width: 140px;
    margin-top: 20px;
    margin-right: 20px;
}

.button-hapus{
    display: inline-block;
    text-align: center;
    line-height: 40px;
    font-family: 'Roboto Slab';
    font-size: 20px;
    border-radius: 5px;
    color: white;
    background-color: #DC3545;
    height: 40px;
    width: 140px;
    margin-top: 20px;
    margin-right: 20px;
}

.tabel{
    display: inline-block;
    width:250px;
    height: 80px;
    font-family: 'Roboto Slab';
    margin-top: 20px;
    padding-right: 60px;
    /* border: 1px solid black; */
}

.tabel-header{
    background-color: #013B64;
    height: 30px;
    width: 100%;
    text-align: center;
    color: white;
    line-height: 30px;
    border: 1px solid black;
}
div.tabel-list{
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
}
.tabel-list{
    height: 25px;
    width:100%;
    border: 1px solid black;
    color: black;
}

.tabel-bot{
    height: 25px;
    width:100%;
    border: 1px solid black;
    border-top: none
}

.opening-container p{
    font-size: 24px;
}

.opening-container{
    background-color: rgb(38, 86, 150);
    color: white;
    border-radius: 5px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}

@media screen and (max-width:600px) {
    .opening-container h1{
        text-align: center;
    }
    .opening-container p{
        text-align: center;
        font-size: 16px;
    }
    .klien-container h2{
        font-size: 18px;
        text-align: center;
    }
    .card p{
        font-size: 18px;
        text-align: left;
    }
    p.small.mb-0{
        font-size: 18px;
    }
    .select{
        width: 80px;
    }
    .fas.fa-calendar-alt.fa-lg.me-3{
        margin-left: 10px;
    }
}

@media screen and (max-width:600px) {
    .col{
        text-align: center;
    }
    .col h1{
        padding-bottom: 10px;
    }
    .col p{
        font-size: 16px;
    }
}

.akun-container{
    width: 100%;
    text-align: center;
    padding-top: 200px;
    display: none;
}

.akun-container-atas{
    width: 100%;
    text-align: center;
    padding-top: 20px;
}

.card-header{
    font-weight: bold;
}

.card-title{
    padding-bottom:10px
}

@media screen and (max-width:600px) {
    textarea{
        width: 330px;
        text-align: justify;
    }
    .card-header{
        text-align: left;
    }
    .add{
        margin-right: 200px;
        margin-top: 10px;
    }
    .tabel{
        width: 170px;
        padding-right: 0px;
    }
    .akun-container{
        text-align: center;
        display: inline;
    }
    .akun-container-atas{
        display: none;
        position: relative;
    }
    .akun-container h5{
        padding-top: 20px;
    }
}