.button-wrapper{
    float: right;
}

.button-tambah{
    display: inline-block;
    text-align: center;
    line-height: 40px;
    font-family: 'Roboto Slab';
    font-size: 20px;
    border-radius: 5px;
    color: white;
    background-color: #00B000;
    height: 40px;
    width: 140px;
    margin-top: 20px;
    margin-right: 20px;
}

.opening-container{
    background-color: rgb(38, 86, 150);
    color: white;
    border-radius: 5px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.card-2{
    color: white;
    /* background-color: #00B000; */
    text-align: center;
    border-radius: 5px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card-1{
    color: black;
    /* background-color: #00B000; */
    text-align: center;
    border-radius: 5px;
    padding-right: 120px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 1000px;
    border: 1px solid #ddd;
    margin-top: 50px; 
    margin-left: 100px;
    font-family: 'Roboto Slab';
  }
  
  th, td {
    text-align: center;
    padding: 16px;
  }
  
  tr:nth-child(odd) {
    background-color: #b4b7b9;
} */

.button-edit{
    display: inline-block;
    text-align: center;
    line-height: 30px;
    font-family: 'Roboto Slab';
    font-size: 16px;
    border-radius: 5px;
    color: white;
    background-color: #007BFF;
    height: 30px;
    width: 70px;
}

.button-hapus{
    display: inline-block;
    text-align: center;
    line-height: 30px;
    font-family: 'Roboto Slab';
    font-size: 16px;
    border-radius: 5px;
    color: white;
    background-color: #DC3545;
    height: 30px;
    width: 70px;
}

@media screen and (max-width: 600px){
    h1{
        font-size: 32px;
        text-align: center;
    }
    .col-6{
        width: 100%;
    }
    .pagination{
        margin-left: 12%;
        padding: 10px;
    }
    .table-striped th:nth-child(5){
        display: none;
    }

    .table-striped td:nth-child(5){
        display: none;
    }
}