.button-wrapper{
    float: right;
}

.button-tambah{
    display: inline-block;
    text-align: center;
    line-height: 40px;
    font-family: 'Roboto Slab';
    font-size: 20px;
    border-radius: 5px;
    color: white;
    background-color: #00B000;
    height: 40px;
    width: 140px;
    margin-top: 20px;
    margin-right: 20px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 1000px;
    border: 1px solid #ddd;
    margin-top: 50px; 
    margin-left: 100px;
    font-family: 'Roboto Slab';
  }
  
  th, td {
    text-align: center;
    padding: 16px;
  }
  
  tr:nth-child(odd) {
    background-color: #b4b7b9;
}

.button-edit{
    display: inline-block;
    text-align: center;
    line-height: 30px;
    font-family: 'Roboto Slab';
    font-size: 16px;
    border-radius: 5px;
    color: white;
    background-color: #007BFF;
    height: 30px;
    width: 70px;
}

.button-hapus{
    display: inline-block;
    text-align: center;
    line-height: 30px;
    font-family: 'Roboto Slab';
    font-size: 16px;
    border-radius: 5px;
    color: white;
    background-color: #DC3545;
    height: 30px;
    width: 70px;
}